* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.base-basket-div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 36px;
}
.main-basket-div {
  margin: 50px 50px;
  min-width: 1000px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 40px;
  column-gap: 50px;
}
.basketCard-div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
  border-radius: 10px;
  width: 300px;
  height: 420px;
  border: 1px solid;
  box-shadow: 0 8px 11px;
}
.basket-btn-delete {
  width: 190px;

  height: 36px;
  border-radius: 8px;
  cursor: pointer;
  font-size: large;
  text-align: center;
}
.basket-btn-delete:hover {
  height: 42px;

  background-color: red;
}
