* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.product-detail-main-div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-detail-main-container {
  margin: 0 auto;
  width: 1200px;
  display: flex;
  margin-top: 100px;

  border: 4px solid black;

  border-radius: 15px;
  padding: 20px;

  background-color: #001c30;
}
.product-detail-img-div {
  border: 3px solid black;
  border-radius: 14px;
  padding: 20px;
  background-color: white;
}
.product-detail-img {
  width: 500px;
  min-width: 500px;
  height: 500px;
  border-radius: 14px;
}
.product-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
p {
  font-family: "Open Sans", sans-serif;
  font-size: larger;

  line-height: 36px;
  margin-left: 30px;
  color: white;
}
h2 {
  color: white;
  margin-left: 10px;
}
